body{
    background-position: center;
    background-size: cover;
    font-family: "chalkboard";
    font-size: 30px;
}
.h1{
    font-size: 45px;
    background: greenyellow;
}
button{
    width: 200px;
   
    border-radius: 10px;
}